$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:36px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


}

/*########################
       band kit stuff
########################*/

.banner img {
    width: 100%;
    height: auto;
}

//standard sites
.site{
  h1{
    color: #fff;
  }
  h2{
    color: #fff;
  }
  table{
    width: 100%;
    th{
      font-weight: bold;
      padding: 2px;
      text-align: center;
    }
    tr:hover {background-color: rgba(255, 255, 255, 0.2);}
  }
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align:center;
  width:auto;
  border-radius: 25px;
  padding: 20px;
  padding-top: 2px;
  margin-bottom:45px;
}
.contactsite{
  h1{
    color: #fff;
  }
  h2{
    color: #fff;
  }
  table{
    width: 100%;
    th{
      font-weight: bold;
      padding: 2px;
      text-align: center;
    }
  }
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align:center;
  width:auto;
  border-radius: 25px;
  padding: 20px;
  padding-top: 2px;
}

//band directive
.band{
  h1{
    margin-bottom: 0px;
  }
  min-height: 660px;
}

@media screen and (max-width: 700px) {
  .band{
    h1{
      margin-bottom: 0px;
    }
    min-height: 1290px;
  }
}





.members{

}

.profile{
	margin-top: 15px;
  text-align: left;
  margin-left: 9%;
  margin-right: 9%;
  width:200px;
  height:300px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
  color: rgba(255, 255, 255,0.9);
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
  color: rgba(240, 240, 240,0.7);
}
.profile p{
  color: rgba(200, 200, 200,0.7);
}
.profile img:hover{
	//max-width: 200px;

}


/* Player */

.player{
  align-items:center;
  background-color: rgba(66, 66, 66, 0.5);
}
.playerbuttons{
  padding-left: 5%;

  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
}
.playerbuttons tr  td  p {
  text-align: left;
  color: rgba(255, 255, 255,0.6);
  margin: auto;
  padding-left: 10px;
}
.player-button {
  width: 26px;
  margin: 5px;
}
.volume{
  padding-left: 50px;
  text-align: right;
  color: rgba(255, 255, 255,0.6);
  margin: auto;
}
.volume:hover{
  padding-left: 100px;
  width: 100px;
  height: 5px;
  overflow: visible;
  background-color: white;
  color: rgba(66, 66, 66, 0.4);
}
