<div class="contactsite">
  <h1>Contact</h1>
  <table>
    <tr>
      <td><a href="mailto:{{data.email}}">{{data.email}}</a></td>
    </tr>
    <tr>
      <td>
        <a ng-repeat="link in data.links" href="{{link.url}}"><img src="{{link.imgUrl}}" height="35px" style="margin:5px;"></a>
      </td>
    </tr>
  </table>
</div>
