<div class="site">
  <h1>Impressum</h1>
  Angaben gem. § 5 TMG<br/><br/>
  <b>Betreiber und Kontakt:</b><br />
  bandkit<br /><br />
  Neutorstraße 20 <br />
  89073 Ulm<br /><br />
  <!-- Telefonnummer: [Telefonnumer]<br /> -->
  E-Mail-Adresse: info@bandkit.de<br /><br />
  <b>Vertretung:</b><br />
  bandkit wird vertreten durch Marc Rominger<br /><br />

  <p><strong>Bilder und Grafiken:</strong><br />
  Angaben der Quelle f&uuml;r verwendetes Bilder- und Grafikmaterial:<br />
  Freepic, http://www.flaticon.com/authors/freepik<br />
  Chris Gin, http://www.chrisgin.com/</p>

  <p><strong>Ton- und Audio:</strong><br />
  Angaben der Quelle f&uuml;r verwendetes Ton- und Audiomaterial:<br />
  Madtones, http://www.madtones.de</p>

  <h3>Disclaimer</h3>


  <p><strong style="line-height:1.6em">1. Haftungsbeschr&auml;nkung</strong></p>

  <p>Die Inhalte dieser Website werden mit gr&ouml;&szlig;tm&ouml;glicher Sorgfalt erstellt. Der Anbieter &uuml;bernimmt jedoch keine Gew&auml;hr f&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beitr&auml;ge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverh&auml;ltnis zwischen dem Nutzer und dem Anbieter zustande.</p>

  <p><strong>2. Externe Links</strong></p>

  <p>Diese Website enth&auml;lt Verkn&uuml;pfungen zu Websites Dritter (&quot;externe Links&quot;). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verkn&uuml;pfung der externen Links die fremden Inhalte daraufhin &uuml;berpr&uuml;ft, ob etwaige Rechtsverst&ouml;&szlig;e bestehen. Zu dem Zeitpunkt waren keine Rechtsverst&ouml;&szlig;e ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zuk&uuml;nftige Gestaltung und auf die Inhalte der verkn&uuml;pften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine st&auml;ndige Kontrolle dieser externen Links ist f&uuml;r den Anbieter ohne konkrete Hinweise auf Rechtsverst&ouml;&szlig;e nicht zumutbar. Bei Kenntnis von Rechtsverst&ouml;&szlig;en werden jedoch derartige externe Links unverz&uuml;glich gel&ouml;scht.</p>

  <p><strong>3. Urheber- und Leistungsschutzrechte</strong></p>

  <p>Die auf dieser Website ver&ouml;ffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere f&uuml;r Vervielf&auml;ltigung, Bearbeitung, &Uuml;bersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielf&auml;ltigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads f&uuml;r den pers&ouml;nlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.</p>

  <p>Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zul&auml;ssig.</p>

  <p><strong>4. Datenschutz</strong></p>

  <p>Durch den Besuch der Website des Anbieters k&ouml;nnen Informationen &uuml;ber den Zugriff (Datum, Uhrzeit, betrachtete Seite, IP-Adresse) gespeichert werden. Diese Daten werden ausschlie&szlig;lich zu statistischen Zwecken ausgewertet. Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht statt.</p>

  <p>Sofern innerhalb unseres Internetauftritts die M&ouml;glichkeit zur Eingabe pers&ouml;nlicher oder gesch&auml;ftlicher Daten (E-Mail-Adressen, Namen, Anschriften, Bewerbungs-unterlagen etc.) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers explizit auf freiwilliger Basis. Ihre Daten werden vertraulich behandelt und nicht an Dritte weitergegeben</p>

  <p>Der Anbieter weist ausdr&uuml;cklich darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen und nicht l&uuml;ckenlos vor dem Zugriff durch Dritte gesch&uuml;tzt werden kann.</p>

  <p>Die Verwendung der Kontaktdaten des Impressums zur gewerblichen Werbung ist ausdr&uuml;cklich nicht erw&uuml;nscht, es sei denn der Anbieter hatte zuvor seine schriftliche Einwilligung erteilt oder es besteht bereits eine Gesch&auml;ftsbeziehung. Der Anbieter und alle auf dieser Website genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe ihrer Daten.</p>

  <p><strong>5. Besondere Nutzungsbedingungen</strong></p>

  <p>Soweit besondere Bedingungen f&uuml;r einzelne Nutzungen dieser Website von den vorgenannten Nummern 1. bis 4. abweichen, wird an entsprechender Stelle ausdr&uuml;cklich darauf hingewiesen. In diesem Falle gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen.</p>

  <p><em>Quelle: Juraforum.de - Disclaimer, Gesetze, Urteile, Forum, Lexikon, Rechtsanw&auml;lte &amp; Steuerberater</em></p>
</div>
