<div class="player">
  <table class="playerbuttons">
    <tr>
      <td>
        <img class="player-button" src={{playButton}} ng-click="play()">
      </td>
      <td>
        <img class="player-button" src={{previousButton}} ng-click="previous()">
      </td>
      <td>
        <img class="player-button" src={{nextButton}} ng-click="next()">
      </td>
      <td>
        <p>
          {{audio.title}}
        </p>
      </td>
      <td>
        <!-- <div class="volume">
          TON
          <div class="volume-bar">
            <div class="volume-bar-fill">

            </div>
          </div>
        </div> -->
      </td>
    </tr>
  </table>
  <audio onended="playlistEnded()"></audio>
</div>
