<div class="site">
  <h1>Tour</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
    <tr ng-repeat="gig in data.gigs">

        <td><a href="{{gig.link}}">{{gig.name}}</a></td>
        <td>{{gig.date}}</td>
        <td>{{gig.location}}</td>

    </tr>
  </table>
</div>
